.carousel {
  position: relative;
  padding: 32px 0 48px;

  &__radio {
    display: none;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;

    @include media('max', 'md') {
      max-width: 500px;
    }
    @include media('max', 'sm') {
      max-width: 330px;
    }
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
  }

  &__bullets {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 16px;
  }

  &__bullet {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $color-gray-300;
    cursor: pointer;
    transition: background-color 200ms ease;
    @for $bullet from 1 through 5 {
      &--#{$bullet} {
        #slide-#{$bullet}:checked ~ .carousel__bullets & {
          background-color: $color-primary;
        }
      }
    }
  }
}

.slide {
  display: flex;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  box-shadow: $shadow;
  cursor: pointer;

  &__preview {
    padding-top: 50%;
    @include media('max', 'sm') {
      padding-top: 55%;
    }
  }

  &__panel {
    width: 180px;
    padding: 20px 10px;
    background-color: $color-gray-200;
  }

  &__info {
    padding: 0;
  }

  &__description {
    padding-top: 10px;
    color: $color-gray-500;
    font-size: 0.875rem;

    &::selection {
      color: $color-white;
      background: $color-primary;
    }
  }
}

.slide {
  transition: all 300ms ease;

  @for $slide from 1 through 5 {
    &--#{$slide} {
      @for $i from 1 through 5 {
        @if $i <= $slide - 3 {
          #slide-#{$i}:checked ~ .carousel__wrapper & {
            z-index: -1;
            opacity: 0;
            transform: translateX(210px) scale(0.65);
          }
        }

        @if $i == $slide - 2 {
          #slide-#{$i}:checked ~ .carousel__wrapper & {
            z-index: 0;
            transform: translateX(210px) scale(0.65);
            @include media('max', 'md') {
              transform: translateX(150px) scale(0.65);
            }
            @include media('max', 'sm') {
              opacity: 0;
            }
          }
        }

        @if $i == $slide - 1 {
          #slide-#{$i}:checked ~ .carousel__wrapper & {
            z-index: 1;
            transform: translateX(100px) scale(0.85);
            @include media('max', 'md') {
              transform: translateX(70px) scale(0.85);
            }
            @include media('max', 'sm') {
              opacity: 0.6;
            }
            @include media('max', 'xs') {
              opacity: 0;
            }
          }
        }

        @if $i == $slide {
          #slide-#{$i}:checked ~ .carousel__wrapper & {
            position: relative;
            z-index: 2;
            transform: translate(0) scale(1);
          }
        }

        @if $i == $slide + 1 {
          #slide-#{$i}:checked ~ .carousel__wrapper & {
            z-index: 1;
            transform: translateX(-100px) scale(0.85);
            @include media('max', 'md') {
              transform: translateX(-70px) scale(0.85);
            }
            @include media('max', 'sm') {
              opacity: 0.6;
            }
            @include media('max', 'xs') {
              opacity: 0;
            }
          }
        }

        @if $i == $slide + 2 {
          #slide-#{$i}:checked ~ .carousel__wrapper & {
            z-index: 0;
            transform: translateX(-210px) scale(0.65);
            @include media('max', 'md') {
              transform: translateX(-150px) scale(0.65);
            }
            @include media('max', 'sm') {
              opacity: 0;
            }
          }
        }

        @if $i >= $slide + 3 {
          #slide-#{$i}:checked ~ .carousel__wrapper & {
            z-index: -1;
            opacity: 0;
            transform: translateX(-210px) scale(0.65);
          }
        }
      }
    }
  }
}
