.categories {
  display: grid;
  padding: 16px 0;
  grid-gap: 16px;
  grid-auto-flow: column;
  overflow: auto;
  justify-content: start;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 35px;
    border-radius: 20px;
    background-color: $color-gray-200;
    border: 2px solid $color-gray-500;
    white-space: nowrap;
    @include hover(background-color, darken($color-gray-200, 5%));

    &:first-child {
      background-color: $color-primary;
      border: none;
      color: $color-white;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
