.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  max-width: 240px;
  background-color: $color-gray-300;
  border-radius: 4px;
  text-align: center;

  &__text {
    line-height: 1.2;

    &::selection {
      color: $color-white;
      background: $color-primary;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;
    font-size: 1.25rem;
  }

  &__social-link {
    @include hover(color, rgba($color-effect, 0.8));
  }
}
