.item-card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  gap: 16px;

  &__avatar {
    display: block;
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-width: 0; // to use text-overflow ellipsis on flex children
    line-height: 1;
  }

  &__title,
  &__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include hover(color, $color-effect);
  }

  &__description {
    font-size: 0.875rem;
    color: $color-gray-500;
  }
}
