.search-block {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__search-bar {
    display: flex;
    width: 40%;
    min-width: 220px;
    font-size: 0.875rem;
    border: 1px solid $color-gray-300;
    border-radius: 4px;
    overflow: hidden;
  }

  &__input {
    flex-grow: 1;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 4px 0 0 4px; // to avoid clipping borders
  }

  &__search-btn {
    border-left: 1px solid $color-gray-300;
    background-color: $color-gray-200;
    @include hover(background-color, darken($color-gray-200, 5%));
  }
}
