.user-menu {
  min-width: 160px;
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: $shadow;
  overflow: hidden;

  &__item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    @include hover(background-color, $color-gray-200);

    &--highlighted {
      color: $color-secondary;
      border-top: 2px solid $color-gray-300;
    }
  }
}
