/* user-menu */
@import './user-menu';

.user-block {
  position: relative;
  display: flex;
  gap: 16px;

  &__profile-btn-wrapper {
    padding: 5px 0;

    &:hover .user-block__menu {
      display: block;
    }
  }

  &__profile-btn {
    padding: 10px;
    font-size: 0.75rem;
    border-radius: 50%;
    background-color: $color-primary;
    @include hover(background-color, $color-gray-300);
  }

  &__profile-icon {
    display: block;
  }

  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  }
}
