/* video-preview */
@import './video-preview';

.video-block {
  display: flex;
  flex-direction: column;

  &__panel {
    display: flex;
    padding: 10px 10px 10px 0;
    gap: 16px;
  }

  &__info {
    padding: 0;
    min-width: 0; // to use text-overflow ellipsis on flex children
  }

  &__options {
    cursor: pointer;
  }
}
