.video-preview {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__live,
  &__badge {
    position: absolute;
    padding: 5px 10px;
    line-height: 1;
    border-radius: 5px;
    font-size: 0.75rem;
    cursor: pointer;
    z-index: 1;
  }

  &__live {
    top: 5px;
    left: 5px;
    background-color: $color-secondary;
    color: $color-white;
    text-transform: uppercase;
  }

  &__badge {
    bottom: 5px;
    right: 5px;
    background-color: rgba($color-gray-900, 0.5);
    color: $color-white;
  }

  &::before,
  &::after {
    position: absolute;
    opacity: 0;
    transition: opacity 300ms ease-in;
    z-index: 1;
  }

  &::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-gray-900, 0.5);
  }

  &::after {
    @include icon('paw');
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    color: $color-white;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }
}
