@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($color-secondary, 0.7);
  }

  70% {
    box-shadow: 0 0 0 4px rgba($color-secondary, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba($color-secondary, 0);
  }
}
