:root {
  font-size: $font-size-basic;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-width: $display-min-width;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: $font-family;
  line-height: $line-height-basic;
  color: $color-gray-900;
}

input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;

  &:focus {
    border: $border-focus;
  }
}

button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
