@mixin hover($property, $value, $duration: 200ms) {
  transition: $property $duration ease;

  &:hover {
    #{$property}: $value;
    cursor: pointer;
  }
}

@mixin media($minmax, $media) {
  @if map-has-key($breakpoints, $media) {
    @media (#{$minmax}-width: map-get($breakpoints, $media)) {
      @content;
    }
  }
}

@mixin icon($name) {
  @if map-has-key($icons, $name) {
    content: map-get($icons, $name);
    font-family: $icons-font-family;
  }
}
