$color-white: #ffffff;
$color-gray-200: #eeeeee;
$color-gray-300: #dadada;
$color-gray-500: #9e9e9e;
$color-gray-900: #212121;
$color-primary: #f6af45;
$color-secondary: #fa0201;
$color-effect: #0568fd;

$shadow: 1px 1px 5px 0px $color-gray-500;
$border-focus: 1px solid $color-effect;

$font-family: 'Open Sans', sans-serif;
$icons-font-family: 'Font Awesome 5 Free';
$font-size-basic: 16px;
$line-height-basic: 1.5;
$icons: (
  'paw': '\f1b0',
);

$display-min-width: 320px;
$breakpoints: (
  'xs': 540px,
  'sm': 768px,
  'md': 940px,
  'lg': 1200px,
);

$header-height: 65px;
