// variables
@import './modules/vars';

// mixins
@import './modules/mixins';

/**
 * table of contents
 *
 * 1. global styles
 * 2. scrollbar
 * 3. animations
 * 4. components
 *   4.1. logo
 *   4.2. icon-btn
 *   4.3. search-block
 *   4.4. user-block
 *   4.5. item-card
 *   4.6. info-block
 *   4.7. categories
 *   4.8. video-block
 *   4.9. carousel
 * 5. layout
 *   5.1. header
 *   5.2. page
 *   5.3. sidebar
 *   5.4. panel
 */

/**
 * global styles
 */

@import './modules/global';

/**
 * scrollbar
 */

@import './modules/scrollbar';

/**
 * animations
 */

@import './modules/animations';

/**
 * components
 */

/* logo */
@import './components/logo';

/* icon-btn */
@import './components/icon-btn';

/* search-block */
@import './components/search-block';

/* user-block */
@import './components/user-block';

/* item-card */
@import './components/item-card';

/* info-block */
@import './components/info-block';

/* categories */
@import './components/categories';

/* video-block */
@import './components/video-block';

/* carousel */
@import './components/carousel';

/**
 * layout
 */

/* header */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 16px;
  box-shadow: $shadow;
  background-color: $color-white;
  z-index: 10;

  &__search-block {
    flex-grow: 1;
  }

  @include media('max', 'sm') {
    &__logo {
      font-size: 1.5rem;
    }
  }

  @include media('max', 'xs') {
    &__search-block {
      display: none;
    }
  }
}

/* page */
.page {
  display: flex;

  &__sidebar {
    position: sticky;
    top: $header-height;
    flex-shrink: 0;
  }

  &__panel {
    flex-grow: 1;
  }
}

/* sidebar */
.sidebar {
  width: 230px;
  height: calc(100vh - #{$header-height});
  display: flex;
  flex-direction: column;
  background-color: $color-gray-200;

  &__streamers {
    flex-grow: 1;
    border-bottom: 2px solid $color-white;
    overflow: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    @include hover(background-color, $color-gray-300);

    &--active .sidebar__subscribers-count::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      color: $color-secondary;
      background-color: $color-secondary;
      border-radius: 50%;
      animation: pulse 3s infinite;
    }
  }

  &__subscribers-count {
    position: relative;
    padding: 16px;
  }

  &__info-block {
    margin: 16px;
  }

  @include media('max', 'lg') {
    width: auto;

    .item-card__content {
      display: none;
    }

    &__subscribers-count {
      display: none;
    }

    &__info-block {
      display: none;
    }
  }
}

/* panel */
.panel {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
  height: calc(100vh - #{$header-height});
  overflow: hidden auto;
  gap: 16px;

  &__categories {
    flex-shrink: 0;
  }

  &__videos {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(min(300px, 100%)), 1fr));
    grid-gap: 10px;
  }

  &__footer {
    flex-shrink: 0;
    margin-top: auto;
    padding: 16px 0;
    text-align: center;
  }
}
